In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [91]:
X = df.iloc[:, 1:5].values
X = X.reshape(-1, X.shape[1])
X = preprocessing.scale(X)

df["Species"].replace("Iris-setosa", 0, inplace = True)
df["Species"].replace("Iris-versicolor", 1, inplace = True)
df["Species"].replace("Iris-virginica", 1, inplace = True)
Y = df.iloc[:, -1].values
Y[:100]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [57]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [85]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [86]:
# Logistic model
lr = LogisticRegression()
lr.fit(X_train, Y_train)
# Prediction
Y_pred = lr.predict(X_test).reshape(-1, 1)

In [89]:
# Creating confusion matrix
classes = [0, 1]
cm = confusion_matrix(Y_test, Y_pred)
cm_df = pd.DataFrame(cm, columns = classes, index = classes)
cm_df

    0   1
0  13   0
1   0  25

In [100]:
# Accuracy = (True positives + True negatives)/All
# Precision = True positives/(True positives + False positives)
# Recall = True positives/(True positives + False negatives)
Accuracy = (13 + 0)/(13 + 0 + 0 + 25)
Precision = 13/(13 + 0)
Recall = 13/(13 + 25)
print("Accuracy is ", Accuracy)
print("Precision is ", Precision)
print("Recall is ", Recall)

Accuracy is  0.34210526315789475
Precision is  1.0
Recall is  0.34210526315789475

The model is likely to have high precision but low accuracy and recall for any data it is applied to.

In [102]:
TP = FP = TN = FN = 0
# Compare Y_pred and Y_test
for i in range(0, len(Y_pred)):
    if Y_pred[i] == 0:
        if Y_test[i] == 0:
            TP += 1
        else:
            TN += 1
    else:
        if Y_test[i] == 1:
            FN += 1
        else:
            FP += 1

Accuracy = (TP + TN)/(TP + FP + FN + TN)
Precision = TP/(TP + FP)
Recall = TP/(TP + FN)
print("Accuracy is: ", Accuracy)
print("Precision is: ", Precision)
print("Recall is: ", Recall)

Accuracy is:  0.34210526315789475
Precision is:  1.0
Recall is:  0.34210526315789475